header{
	background: url(../img/banner.jpg) no-repeat;
	background-size: 100%;
}

header img{
	margin-left: 10%;
	height: 5%;
	overflow: hidden;
	width: 5%;
}

nav{
	background-color: #e1e1e1;
	margin-top: -5.5%;
	padding: 1% 0;
	width: 100%;
}

nav a:first-child{
	margin-left: 18%;
}

nav a{
	color: #616161;
	font-size: 1.5rem;
	margin-left: 2%;
	text-decoration: none;
}

header h1{
	color: #fff;
	font-family: times;
	font-size: 4rem;
	margin-bottom: 0em;
	margin-left: 10%;
	padding-top: 10%;	
}

header h2{
	color: #fff;
	font-family: times;
	font-size: 2rem;
	margin: 0 0 0 10%;
	overflow: hidden;
	padding-bottom: 17.9%;	
}

.section-1{
	background-color: #cccccc;
	height: 28em;
}

.section-1 h2{
	padding-top: 2em;
	font-size: 2rem;
	margin-top: 0em;
	margin-left: 10%;
	width: 100%;
}

.section-1 article{
	background-color: #cccccc;
	font-size: 1.2rem;
	margin-left: 10%;
	width: 50%;
	margin-bottom: 1.5em;
}

.section-1 article + a{
	background-color: #418eba;
	color: #fff;
	float: right;
	margin-top: -8em;
	margin-right: 24%;
	padding: 1em 1.5em;
}

.section-1 article + a + section{
	background-color: #e1e1e1;
	margin: 0 auto;
	padding: 4rem 0rem;
	width: 80%;	
}

.section-1 article + a + section > a{
	background-color: #418eba;
	border-radius: 1.8rem;
	color: #fff;
	font-size: 1rem;
	margin-left: 15%;
	padding: 1rem 1.5rem;
	text-decoration: none;
}














